<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Boxicons -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- My CSS -->
    <link rel="stylesheet" href="~/Content/styles/style.css">
    <link rel="stylesheet" href="~/Content/styles/styleIndex.css">
    <!-- Chart.js -->


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <title>GEOMATIC</title>
</head>

<body>


    <!-- SIDEBAR -->
    <section id="sidebar">

        <div class="logo-nav">
            <a href="~/Account/Index" class="brand">
                <img src="~/Content/img/logo-geomatic.png" style="width: 70%;" />
            </a>
        </div>

        <ul class="side-menu top">
            <li class="active">
                <a href="~/Account/Index">
                    <i class='bx bxs-dashboard'></i>
                    <span class="text">Tableau de bord</span>
                </a>
            </li>
            <li>
                <a href="~/donnee/Index">
                    <i class='bx bxs-doughnut-chart'></i>
                    <span class="text">Données</span>
                </a>
            </li>
            <li>
                <a href="~/Projet/Index">
                    <i class='bx bxs-shopping-bag-alt'></i>
                    <span class="text">Projets</span>
                </a>
            </li>

            <li>
                <a href="~/Client/Index">
                    <i class='bx bxs-message-dots'></i>
                    <span class="text">Clients</span>
                </a>
            </li>

        </ul>
        <ul class="side-menu">
            <li>
                <a href="~/Account/Parametre">
                    <i class='bx bxs-cog'></i>
                    <span class="text">Paramètres</span>
                </a>
            </li>
            @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
@Html.AntiForgeryToken()
                <li>
                    <a href="#" class="logout" id="logoutLink">
                        <i class='bx bxs-log-out-circle'></i>
                        <span class="text">Se déconnecter</span>
                    </a>
                </li>            }
        </ul>
    </section>
    <!-- SIDEBAR -->
    <!-- CONTENT -->
    <section id="content">
        <!-- NAVBAR -->
        <nav>
            <i class='bx bx-menu'></i>

            <form action="#">
                <div class="form-input">
                    <input type="search" placeholder="Recherche...">
                    <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
                </div>
            </form>
            <input type="checkbox" id="switch-mode" hidden>
            <label for="switch-mode" class="switch-mode"></label>
            @Html.Partial("_NotificationUser")
            <a class="profile">
                <img src="~/Content/img/people.png">
            </a>
        </nav>
        <!-- NAVBAR -->
        <!-- MAIN -->
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Tableau de bord</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Tableau de bord</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Home</a>

                        </li>
                    </ul>
                </div>

            </div>

            <ul class="box-info">
                <li>
                    <i class='bx bxs-calendar-check'></i>
                    <span class="text">
                        <h3>253</h3>
                        <p>Fichiers</p>
                    </span>
                </li>
                <li>
                    <i class='bx bxs-group'></i>
                    <span class="text">
                        <h3>32</h3>
                        <p>Clients</p>
                    </span>
                </li>
                <li>
                    <i class='bx bx-briefcase'></i>
                    <span class="text">
                        <h3>47</h3>
                        <p>Projets</p>
                    </span>
                </li>
            </ul>


            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Projets</h3>

                    </div>
                    <div class="table-data">
                        <canvas id="graph1"></canvas>
                    </div>



                </div>
                <div class="order">
                    <div class="head">
                        <h3>Données par industrie</h3>

                    </div>

                    <div class="additional-graph" style="height: 80%;">
                        <canvas id="graph2"></canvas>
                    </div>


                </div>
                <div class="order">

                    <div class="additional-graph">
                        <div id="data-icon-container" class="canvas-container">
                            <div class="animated-element">
                                <img src="~/Content/img/image1.png" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="order">

                    <div class="additional-graph">
                        <canvas id="chartCanvas"></canvas>
                    </div>
                </div>




            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->

</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Content/Scripts/script.js"></script>
    <script src="~/Content/Scripts/scriptConnexion.js"></script>
    <script src="~/Content/Scripts/scriptIndex.js"></script>
    <script src="~/Content/Scripts/scriptParamètres.js"></script>
    <script src="~/Content/Scripts/ReceiveNotifAdmin.js"></script>

    <script>
        document.getElementById('logoutLink').addEventListener('click', function (event) {
            event.preventDefault();
            document.getElementById('logoutForm').submit();
        });
    </script>
}