table{

	width: 200%;
    
    overflow: scroll;
}  
.edit-button, .show-button ,.downdata-button{
    display: inline-block;
    padding: 8px 12px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}  



.dropdown-menu.custom-dropdown {
    background-color: white;
}